<div class="mx-auto md:w-11/12 w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="w-full flex flex-col gap-4 px-6 divide-y-2">
      <div class="block space-y-4 pb-2">
        <h1 class="text-2xl text-center font-bold">Public Recipes</h1>
        <div class="space-y-4">
          <% @recipes.each do |recipe| %>
            <div class="border flex justify-between border-gray-400 rounded-lg px-4 py-1">
              <div class="space-y-8 flex flex-col">
                <span class="text-xl"><%= recipe.name %></span>
                <span class="capitalize">by: <%= recipe.user.name %></span>
              </div>
              <div class="space-y-8 flex flex-col">
                <span class="text-xl capitalize">total food items: <%= recipe.foods.length %></span>
                <span class="capitalize">Total Price: $<%= recipe.user.foods[0].price.to_i * recipe.user.foods[0].quantity.to_i %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>